.contact_wrapper {
   width: 100%;
}
.contact_container {
   padding-left: 124px;
   padding-top: 150px;
}
.contact_title h2 {
   font-size: 18px;
   line-height: 25px;
   text-transform: uppercase;
   padding-bottom: 24px;
}
.contacts {
   display: flex;
}
.contact-tell,
.contact-mail {
   position: relative;
   display: block;
   padding-right: 104px;
}
.contact-tell a,
.contact-mail a {
   font-size: 60px;
   line-height: 60px;
   color: black;
   text-decoration: none;
   height: 60px;
   margin-bottom: 150px;
}
.contact-tell > a:hover {
   opacity: 0.5;
   border-bottom: 1px solid black;
}
.contact-mail > a:hover {
   opacity: 0.5;
   border-bottom: 1px solid black;
}
.icons {
   padding-bottom: 26px;
   height: 22px;
   width: 16px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
   .contact_container {
      padding-left: 16px;
      padding-top: 120px;
   }
   .contact-tell a,
   .contact-mail a {
      margin-bottom: 80px;
      font-size: 45px;
   }
   .contact-tell,
   .contact-mail {
      padding-right: 114px;
   }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
   .contacts {
      display: block;
   }
   .contact_container {
      padding-left: 11px;
      padding-top: 80px;
   }
   .contact-tell a,
   .contact-mail a {
      margin-bottom: 80px;
      font-size: 35px;
      line-height: 46px;
   }
   .contact-tell,
   .contact-mail {
      padding-bottom: 20px;
      padding-right: 0px;
   }
   .contact-mail {
      padding-bottom: 80px;
   }
   .icons > img {
      padding-bottom: 20px;
   }
   .contact_title h2 {
      padding-bottom: 20px;
   }
}
