.container-contact {
   width: 100%;
   height: 717px;
   background-image: url(../second_background.png);
   position: relative;
   background-size: cover;
   margin-bottom: 150px;
}
.container-contact h3 {
   position: absolute;
   left: 145px;
   bottom: 60px;
   font-weight: 400;
   font-size: 30px;
   line-height: 41px;
   color: #ffffff;
   width: 443px;
}
.contact {
   margin-left: 144px;
}
.contact img {
   margin-left: -4px;
   margin-bottom: 10px;
}
.contact p {
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   text-transform: uppercase;
   margin-bottom: 32px;
}
.contact h2 {
   font-weight: 400;
   font-size: 60px;
   line-height: 60px;
   margin-bottom: 30px;
}
.contact h3 {
   font-weight: 400;
   font-size: 60px;
   line-height: 60px;
   padding-bottom: 160px;
   opacity: 0.5;
}
.contact h2 > a,
h3 > a {
   color: black;
   text-decoration: none;
}
.contact h3 a:hover {
   border-bottom: 1px solid black;
}
