footer {
   background-color: #121212;
   width: 100%;
   height: 229px;
}
.footer-url {
   padding-top: 60px;
   margin-left: 490px;
}
.one_link {
   margin-right: 51.5px;
}
.two_link {
   margin-right: 53.5px;
}
.three_link {
   margin-right: 53px;
}
.footer-url a {
   color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
}
.footer-url a:hover {
   opacity: 0.5;
}
.text-end {
   font-weight: 400;
   font-size: 20px;
   line-height: 27px;
   color: #ffffff;
   opacity: 0.5;
   padding-top: 87px;
   margin-left: 529px;
}
