.footer {
   margin-top: 150px;
   width: 100%;
   background-color: black;
}
.container_footer {
   width: 100%;
   display: flex;
   justify-content: center;
}
.nav_container {
   width: 450px;
   padding-bottom: 86px;
}
.footer_title-full {
   display: flex;
   flex-direction: column;
   padding-top: 60px;
}
.footer_title {
   margin: 0 auto;
   width: 389px;
   color: white;
   font-size: 20px;
   line-height: 27px;
   opacity: 0.5;
   padding-bottom: 30px;
}
.nav {
   display: flex;
   gap: 55px;
   justify-content: space-between;
}
.nav_link {
   color: white;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
}
.nav_link:hover {
   opacity: 0.5;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
   .footer {
      margin-top: 80px;
   }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
   .nav_link {
      font-size: 12px;
      line-height: 16px;
   }
   .nav {
      gap: 30px;
   }
   .nav_container {
      width: 281px;
   }
   .footer_title {
      font-size: 13px;
      line-height: 18px;
      width: 289px;
   }
   .footer {
      margin-top: 80px;
   }
}
