.header {
   margin-top: 30px;
   margin-bottom: 70px;
}
.header a {
   text-decoration: none;
   color: #121212;
   text-transform: uppercase;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   margin-right: 58px;
}
.header a:hover {
   border-bottom: 1px solid black;
   opacity: 0.5;
}
.header img {
   margin-right: 554.5px;
}
