@import url(./contact.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./main.css);
@import url(./project.css);
@import url(./service.css);
@import url(./reviews.css);
@import url(./gallery.css);
body {
   font-family: "Manrope", sans-serif;
   letter-spacing: -0.03em;
   width: 100%;
   font-style: normal;
   margin: 0 auto;
}
h1,
h2,
h3,
a,
p {
   letter-spacing: -0.03em;
}
.container {
   margin: 0 auto;
   max-width: 1400px;
   padding-left: 125px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
   .container {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
   }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
   .container {
      width: 100%;
      padding-left: 13px;
      padding-right: 12px;
   }
}
