.menu {
    padding-top: 33px;
    padding-left: 125px;
    width: 1200px;
}

.box {
    padding-top: 70px;
    padding-left: 125px;
}

.img {
    width: 1150px;
    height: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), url(../Rectangle1.png);
}

.img>h2 {
    width: auto;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    padding-top: 379px;
    padding-left: 40px;
}

.buttonshow {
    width: 255px;
    height: 67px;
    background: #AD1818;
    border-radius: 5px;
    font-family: 'Manrope';
    font-style: normal;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 150px;
}

.about>h2 {
    padding-top: 150px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    opacity: 0.5;
    color: #121212;
}

.about>h3 {
    width: 1100px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    color: #121212;
    padding-bottom: 30px;
}

.box>h1 {
    width: 800px;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 60px;
    padding-bottom: 30px;
}

.logo {
    padding-right: 560px;
}

.menu-list {
    padding-right: 60px;
    font-family: 'Manrope';
    font-size: 18px;
    color: #121212;
    text-decoration: none;
}

.menu-listab {
    padding-right: 60px;
    font-family: 'Manrope';
    font-size: 18px;
    color: #121212;
    opacity: 0.5;
}

.project>h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #121212;
    padding-bottom: 30px;
}

.house {
    height: 603px;
}

.project>.house>h3 {
    width: 620px;
    padding-top: 15px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 15px;
}

.project>.house>a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: red;
    text-decoration: none;
}

.buttonall {
    width: 1150px;
    height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    margin-bottom: 150px;
}

.buttonall>p {
    padding-top: 56px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #AD1818;
}

.buttonall>p:hover {
    padding-top: 56px;
    padding-bottom: 56px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    background-color: #AD1818;
    color: #FFFFFF;
}

.services {
    background: #121212;
    width: 1440px;
    height: 1844px;
    color: white;
}

.serv {
    padding-left: 125px;
}

.serv>h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding-top: 151px;
    padding-bottom: 34px;
}

.serv>h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    padding-bottom: 60px;
}

.bigimage {
    width: 1440px;
    height: 717px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.52%, rgba(0, 0, 0, 0.4) 82.81%), url(../Rectangle10.png);
}

.bigimage>h2 {
    padding-top: 575px;
    padding-left: 125px;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}

.info {
    padding-left: 120px;
    padding-top: 150px;
}

.cont>h2 {
    padding-top: 12px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.cont>h3 {
    width: 450px;
    padding-top: 32px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
}
.cont>a>h4{
    width: 250px;
    padding-bottom: 150px;
}
.cont>a {
    padding-top: 30px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    opacity: 0.5;
}

footer {
    background-color: #121212;
    width: 1440px;
    height: 229px;
}

.foot {
    padding-top: 60px;
}

.menuab {
    color: white;
    padding-left: 470px;
    padding-right: 60px;
    font-family: 'Manrope';
    font-size: 18px;
    text-decoration: none;
    opacity: 0.5;
}

.menut {
    padding-right: 60px;
    font-family: 'Manrope';
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.foot>h2 {
    padding-top: 87px;
    padding-left: 509px;
    color: white;
    opacity: 0.5;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}